:root {
  --color-primary: #9568ff;
  --color-light-primary: #9568ff;
  --color-light-base-primary: #ffffff26;
  --color-secondary: #fafafe;
  --color-base-primary: #362465;
  --color-base-secondary: #9568ff1a;
  --color-font-base-primary: #374557;
  --color-font-light-primary: #fafafe;
  --color-font-primary: #fff;
  --color-font-secondary: #fafafe;
  --color-font-danger: #f46d22;
  --color-font-danger-light: #f46d2220;
  --color-font-success: #1ecb4f;
  --color-font-success-light: #1ecb4f20;
  --color-font-placeholder: #7c7c7c33;
  --color-font-input: #989898;
  --color-border-primary: #eeee;
  --color-primary-shadow: #9568ff33;
  --color-light-danger: #fed7d7;
  --color-light-success: #c6f6d5;
  --color-light-info: #bee3f8;
  --color-light-warning: #feebc8;
  --color-light-primary-lighter: #e9d8fd;
  --color-border-base: #e5e7eb;
  --color-white: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    height: 70px;
  }
  .page {
    margin-top: 70px;
  }

  .sidebar {
    border-top-right-radius: 35px;
  }

  .sidebar-header {
    height: 70px;
  }

  body[data-sidebar="close"] .header {
    padding-left: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .header {
    padding-left: 250px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="close"] .page {
    margin-left: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .page {
    margin-left: 250px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="close"] .page {
    margin-left: 100px;
  }

  body[data-sidebar="open"] .page {
    margin-left: 250px;
  }

  body[data-sidebar="close"] .sidebar {
    width: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .sidebar {
    width: 250px;
    transition: all 0.5s ease;
  }
  body .logo {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  body .logo img {
    min-width: 150px;
    mix-blend-mode: color-burn;
    color: white;
  }

  body[data-sidebar="close"] .sidebar .sidebar-header .logo-text {
    transition: all 0.5s;
    width: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0px;
    margin-left: 0px;
    text-wrap: nowrap;
  }
  body[data-sidebar="open"] .sidebar .sidebar-header .logo-text {
    transition: all 0.5s;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: 8px;
    text-wrap: nowrap;
    overflow: hidden;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item {
    padding: 12px 16px;
    margin: 6px 10px;
  }

  body[data-sidebar="open"] .sidebar-content .sidebar-item {
    padding: 12px 16px;
    margin: 4px 6px;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .icon {
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-right: 0px;
    margin: auto;
    text-align: center;
    border-radius: 0.625rem;
  }

  body[data-sidebar="open"] .sidebar-content .sidebar-item .icon {
    font-size: 1.2rem;
    transition: all 0.5s;
    text-align: center;
    border-radius: 0.625rem;
    margin-right: 8px;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .text {
    width: 0;
    transition: all 0.5s;
    overflow: hidden;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .text {
    width: 0;
    transition: all 0.5s;
    overflow: hidden;
  }

  .card {
    @apply p-4;
    background: var(--color-light-primary);
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05),
      0rem -0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 1.25rem;
  }

  .clear-auto-complete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
  }

  .table {
    border-bottom: 1px solid var(--color-border-primary);
    border-top: 1px solid var(--color-border-primary);
  }

  .table thead th {
    color: var(--color-base-primary);
    white-space: nowrap;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 0.125rem solid var(--color-border-primary);
    text-align: left;
    padding: 0.625rem 0.625rem;
    background: var(--color-secondary) !important;
    z-index: 9999;
  }

  .table tbody tr:hover {
    box-shadow: 0 0rem 1.875rem var(--color-primary-shadow);
  }
  .table tbody tr td {
    border-bottom: 1px solid var(--color-border-primary);
    font-size: 0.875rem;
    padding: 0.7rem;
    color: var(--color-font-base-primary);
    z-index: 99;
  }

  .paginate_button {
    width: 2.25rem;
    height: 2.25rem;
    padding: 5px;
    margin-left: 0rem;
    margin: 0 0.125rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    border: 0 !important;
    color: var(--color-primary) !important;
  }
  .paginate_button.current,
  .paginate_button:hover {
    color: var(--color-primary) !important;
    background: var(--color-base-secondary) !important;
  }

  .container {
    width: 90%;
    max-width: 800px;
    /* margin: 40px auto; */
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .receipt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9568ff;
    border-bottom: 2px solid #9568ff;
    padding-bottom: 5px;
    margin-top: -30px;
    gap: 10px;
  }
  .receipt-header p {
    margin: 0;
  }
  .receipt-header h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #9568ff;
    text-align: center;
    flex: 1;
  }
  .brand-name,
  .brand-info {
    font-size: 12px;
    color: #555;
  }
  .brand-name {
    font-weight: bold;
  }
  .brand-info {
    text-align: right;
  }
  .section {
    margin-top: 10px;
  }
  .basic-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 0px 0;
  }
  .basic-info p {
    margin: 0;
    color: #555;
  }
  .center-value,
  .receipt-title {
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .section h2 {
    font-size: 20px;
    color: #9568ff;
    border-bottom: 2px solid #9568ff;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
  .info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 15px;
  }
  .info-table th,
  .info-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  .info-table th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }
  .info-table td {
    color: #555;
  }
  /* Custom background colors */
  .customer-info td {
    background-color: #9568ff1a;
    color: #333;
  }
  .customer-name {
    color: #9568ff;
    font-weight: bold;
    font-size: 16px;
  }
  .deal-info {
    background-color: #bee3f8;
  }
  .installment-paid-info {
    background-color: #c6f6d5;
  }
  .installment-due-info {
    background-color: #fed7d7;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #9568ff1a;
    border-radius: 6px;
  }
  .disclaimer {
    text-align: center;
    font-size: 14px;
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff0f0;
    border-radius: 6px;
    border: 1px solid #f5c6cb;
  }
  .highlight-value {
    font-weight: bold;
    color: #333;
  }
  .received-signature {
    padding: 20px 0px 10px 0px;
  }
  .received-signature p {
    font-weight: bold;
    color: #333;
  }
  .font-11 {
    font-size: 12px;
  }
  .font-12 {
    font-size: 14px;
  }
}

.bg-danger-light {
  background: var(--color-light-danger);
}

.bg-success-light {
  background: var(--color-light-success);
}

.bg-info-light {
  background: var(--color-light-info);
}

.bg-warning-light {
  background: var(--color-light-warning);
}

.bg-primary-light {
  background: var(--color-base-secondary);
}

/* ------------------------------------------  styles for autocomplete -------------------------------*/

.autocomplete-cont label {
  /* @apply text-base-primary text-base block w-full mb-1; */
}
.autocomplete-cont .autocomplete-input-cont {
  background-color: var(--color-white);
  border: 2px solid var(--color-border-base);
  border-radius: 8px;
  width: 100%;
  font-family: "Inter";
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.autocomplete-cont .autocomplete-input-cont.open {
  border-color: var(--color-primary);
}

.autocomplete-cont .input-cont {
  width: 100%;
}
.autocomplete-cont input {
  outline: none;
  background: transparent;
  color: var(--color-black);
  font-family: "Inter";
  font-size: 12px;
  padding: 8px 8px;
  flex-grow: 1;
  width: 100%;
}

.autocomplete-cont .autocomplete-options-cont {
  position: relative;
  width: 100%;
  /* height: 1px; */
}

.autocomplete-cont .render-options-cont {
  position: absolute;
  top: 4px;
  left: 0;
  background: var(--color-white);
  border: 1px solid var(--color-base-secondary);
  border-top: 0;
  border-radius: 4px;
  width: 100%;
  padding: 8px 6px;
  min-height: auto;
  max-height: 30vh;
  overflow: hidden;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  z-index: 999;
  flex-grow: 1;
}

.autocomplete-cont ul.options {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 99999;
}

.autocomplete-cont ul.options > li {
  width: 100%;
  padding: 4px 8px;
  margin: 1px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 4px;
}

.autocomplete-cont ul.options > li > .option-name {
  display: inline-block;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: var(--color-black);
  margin: 2px 2px;
}

.autocomplete-cont ul.options > li:hover {
  background: rgb(219, 220, 225, 0.5);
  /* needs to update later */
}

.autocomplete-cont ul.options > li.selected {
  background: rgb(219, 220, 225, 0.8);
  /* needs to update later */
}

.autocomplete-cont ul.options > li.selected:hover {
  background: rgb(219, 220, 225, 1);
  /* needs to update later */
}

.autocomplete-cont .end-endornment {
  display: flex;
  padding: 0px 4px 0px 0px;
}

.autocomplete-cont .reset,
.autocomplete-cont .open-close {
  padding: 0px 4px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autocomplete-cont .reset > .icon {
  opacity: 0.6;
}

.autocomplete-cont .open-close > .icon {
  font-size: 16px;
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

.autocomplete-cont .open .open-close > .icon {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;
}

.autocomplete-cont .loading-cont {
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
