:root {
  --color-primary: #9568ff;
  --color-light-primary: #9568ff;
  --color-light-base-primary: #ffffff26;
  --color-secondary: #fafafe;
  --color-base-primary: #362465;
  --color-base-secondary: #9568ff1a;
  --color-font-base-primary: #374557;
  --color-font-light-primary: #fafafe;
  --color-font-primary: #fff;
  --color-font-secondary: #fafafe;
  --color-font-danger: #f46d22;
  --color-font-danger-light: #f46d2220;
  --color-font-success: #1ecb4f;
  --color-font-success-light: #1ecb4f20;
  --color-font-placeholder: rgba(124, 124, 124, 0.2);
  --color-font-input: #989898;
  --color-border-primary: #eeee;
  --color-primary-shadow: #9568ff33;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    height: 70px;
  }
  .page {
    margin-top: 70px;
  }

  .sidebar {
    border-top-right-radius: 35px;
  }

  .sidebar-header {
    height: 70px;
  }

  body[data-sidebar="close"] .header {
    padding-left: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .header {
    padding-left: 250px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="close"] .page {
    margin-left: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .page {
    margin-left: 250px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="close"] .page {
    margin-left: 100px;
  }

  body[data-sidebar="open"] .page {
    margin-left: 250px;
  }

  body[data-sidebar="close"] .sidebar {
    width: 100px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="open"] .sidebar {
    width: 250px;
    transition: all 0.5s ease;
  }

  body[data-sidebar="close"] .sidebar .sidebar-header .logo-text {
    transition: all 0.5s;
    width: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0px;
    margin-left: 0px;
    text-wrap: nowrap;
  }
  body[data-sidebar="open"] .sidebar .sidebar-header .logo-text {
    transition: all 0.5s;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: 8px;
    text-wrap: nowrap;
    overflow: hidden;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item {
    padding: 12px 16px;
    margin: 6px 10px;
  }

  body[data-sidebar="open"] .sidebar-content .sidebar-item {
    padding: 12px 16px;
    margin: 4px 6px;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .icon {
    font-size: 1.5rem;
    transition: all 0.5s;
    margin-right: 0px;
    margin: auto;
    text-align: center;
    border-radius: 0.625rem;
  }

  body[data-sidebar="open"] .sidebar-content .sidebar-item .icon {
    font-size: 1.2rem;
    transition: all 0.5s;
    text-align: center;
    border-radius: 0.625rem;
    margin-right: 8px;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .text {
    width: 0;
    transition: all 0.5s;
    overflow: hidden;
  }

  body[data-sidebar="close"] .sidebar-content .sidebar-item .text {
    width: 0;
    transition: all 0.5s;
    overflow: hidden;
  }

  .card {
    @apply p-4;
    background: var(--color-light-primary);
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05),
      0rem -0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 1.25rem;
  }

  .clear-auto-complete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
  }

  .table {
    border-bottom: 1px solid var(--color-border-primary);
    border-top: 1px solid var(--color-border-primary);
  }

  .table thead th {
    color: var(--color-base-primary);
    white-space: nowrap;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 0.125rem solid var(--color-border-primary);
    text-align: left;
    padding: 0.625rem 0.625rem;
    background: var(--color-secondary) !important;
    z-index: 9999;
  }

  .table tbody tr:hover {
    box-shadow: 0 0rem 1.875rem var(--color-primary-shadow);
  }
  .table tbody tr td {
    border-bottom: 1px solid var(--color-border-primary);
    font-size: 0.875rem;
    padding: 0.7rem;
    color: var(--color-font-base-primary);
    z-index: 99;
  }
}
